*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
div{
    margin-top: 50px;
}
.contenedor{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 50%;
    margin: 60px auto;
    border-radius: 20px;
}
.div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10{
    height: 50px;
    width: 50%;
    margin: auto;
    padding: 20px;
    font-family: monospace;
    font-size: 15px;
    font: bold;
    /* background-color: rebeccapurple; */
} 